<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ControleFinanceiro.SiteMaster" %>

<!DOCTYPE html>

<html lang="pt-br">
<head runat="server">
    <meta charset="utf-8" />
    <title><%: Page.Title %> - Controle Financeiro</title>
</head>
<body>
    <form runat="server">

        <h1>Controle Financeiro</h1>

<nav>
    <a href="/Home.aspx">Início</a> |
    <a href="/LancamentoCadastro.aspx">Cadastrar Lançamento</a> |
    <a href="/LancamentoListagem.aspx">Listar Lançamentos</a>
</nav>

        <hr />

        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        </asp:ContentPlaceHolder>

    </form>
</body>
</html>
